:root {
    --main-bg-color: #00abab;
}
#menu {
    width: 150px;
    height: 100px;
    background-color: var(--main-bg-color);
    position: relative;
}

#menu::before, #menu::after {
    content: "";
    display: block;
    width: 150px;
    height: 20px;
    background-color: #FFF;
    position: absolute;
}

#menu::before {
    top: 20px;
}

#menu::after {
    top: 60px;
}

